@using HotelManager.Configuration
@model IEnumerable<MVCModel.Models.ListChargeRate>

@{
    ViewBag.Title = "Index";
}

<div id="popupWindow" style="position: absolute"></div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div>
        @(Html.Kendo().Grid<MVCDTO.CommonTasks.ListChargeRatePrimitiveDTO>()
            .Name("listChargeRateGrid")
            .Columns(columns =>
            {
                columns.Bound(p => p.ChargeRateID).Title("ChargeRateID").Hidden();
                columns.Bound(p => p.ListRoomTypeDescription).Title("Loại phòng").Width(80);
                columns.Bound(p => p.ListChargeTypeDescription).Title("Đơn vị tính").Width(150);
                columns.Bound(p => p.Description).Title("Diễn giải").Width(200);
                columns.Bound(p => p.ChargeVolumn).Title("ChargeVolumn").Format("{0:n0}").Filterable(false).Width(150).Hidden().HtmlAttributes(new { @class = "grid-number-column" });
                columns.Bound(p => p.ChargeRate).Title("Đơn giá").Format("{0:n0}").Filterable(false).Width(150).HtmlAttributes(new { @class = "grid-number-column" });
                columns.Bound(p => p.ChargeRateUpper).Title("Đơn giá phụ thu").Format("{0:n0}").Filterable(false).Width(150).HtmlAttributes(new { @class = "grid-number-column" });                
                columns.Bound(p => p.Remarks).Title("Ghi chú").Filterable(false).Width(150).Hidden();
                columns.Template(model => null)
                    .Width(200)
                   .ClientTemplate("<a class='k-button' style='padding-left:5px; min-width:28px; width:28px' href='" + Url.RouteUrl("Default", new { controller = "ListChargeRates", action = "Edit" }) + "/#= ChargeRateID #'><span class='k-icon k-edit'></span></a>  <a class='k-button' style='padding-left:0px; padding-right:0px; min-width:28px; width:28px' href='javascript:void(0)'><text style='padding-left:5px; padding-right:5px' onclick='delete_click(#= ChargeRateID #)'><span class='k-icon k-delete'></span></text></a>");
            })
            .ToolBar(toolbar => toolbar.Custom().Action("Create", "ListChargeRates").Text("Thêm"))
            .Pageable()
            .Groupable()
            .Filterable()
            .Selectable()
            .Sortable()
            .Editable(e => e.Enabled(false))
            .Events(e =>
            {
                e.DataBound("listChargeRateGrid_DataBound");

            })
            .DataSource(dataSource => dataSource
                .Ajax()
                .Read(read => read.Action("GetListChargeRates", "ListChargeRatesApi"))
                //.Update(update => update.Action("UpdateListChargeRates", "ListChargeRatesApi"))
                //.Destroy(update => update.Action("DeleteListChargeRates", "ListChargeRatesApi"))
                //.Events(events => events.Error("onError"))
                .PageSize(20)
                .Model(model =>
                {
                    model.Id(x => x.ChargeRateID);
                    model.Field(m => m.ChargeRateID).DefaultValue(0);
                })
            .ServerOperation(false)            
                ).HtmlAttributes(new { @class = "grid-class" }))
    </div>

}



<script type="text/javascript">
    var index = 0;
    var load = true;

    $(document).ready(function () {
        var grid = $("#listChargeRateGrid").data("kendoGrid");
        grid.dataSource.fetch(function () {
            grid.dataSource.page(index);
        });
    });

    listChargeRateGrid_DataBound = function (e) {
        var grid = this;
        $.each(grid.dataSource.data(), function (idx, elem) {
            if ('@ViewBag.SelectedID' == -1) {
                return false;
            }
            if (elem.ChargeRateID == '@ViewBag.SelectedID') {
                $('[data-uid=' + elem.uid + ']').addClass('k-state-selected');
                index = Math.floor(idx / grid.dataSource.pageSize() + 1);
                return false;
            }
        });
    }

    function delete_click(listChargeRateID) {

        var r = confirm("@SettingsManager.DeleteAlert");
        if (r == true) {
            var datapost = { 'id': listChargeRateID }
            $.ajax({
                url: '@Url.Action("Delete","ListChargeRates")',
                data: JSON.stringify(datapost),
                type: 'POST',
                contentType: 'application/json;',
                dataType: 'json',
                success: function (result) {
                    if (result.Success == 0) {
                        alert(result.ex);
                    }
                    else {
                        $('#listChargeRateGrid').data('kendoGrid').dataSource.read();
                        $('#listChargeRateGrid').data('kendoGrid').refresh();
                    }
                }
            });
        }
    }

</script>

<style type="text/css">
    #listChargeRateGrid {
        width: 1000px;
    }
</style>


