@using HotelManager.Configuration
@model HotelManager.ViewModels.DeleteBillingViewModel

@{
    ViewBag.Title = "Delete Billing";
    //Layout = "~/Views/Shared/_LayoutPopupWindow.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()       
    <div>
        <label class="text-danger">@Model.ErrorMessage</label>
    </div>
    <div class="col-custom">
        <label class="label-group">
            @Html.LabelFor(model => model.DeleteDate, htmlAttributes: new { @class = "control-label-custom" })
            @Html.Kendo().DateTimePickerFor(model => model.DeleteDate).HtmlAttributes(new { @class = "form-custom" })
            <label>
                @Html.ValidationMessageFor(model => model.DeleteDate, "", new { @class = "text-danger" })
            </label>
            <input id="submitButton" type="submit" value="Xóa" onclick="return confirm('Bạn có chắc chắn xóa?')" class="k-button custom-button" style="margin-left:20px;" />   
        </label>
    </div>

}

@*<script type="text/javascript">
   
</script>*@